.certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.certificate-item {
    margin: 10px;
    text-align: center;
}

.certificate-item img {
    width: 430px; 
    height: 530px; 
    object-fit: cover;
    border-radius: 5px;
    object-fit: fill;
    border: 2px solid #4e5757;
    box-shadow: 0 4px 8px rgba(0, 0, 0,1);
}

.btn {
    width: 40%;
    margin: 20px auto;
    text-align: center;
}

.btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0802A3;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn a:hover {
    background-color: #0802A3;
}
